<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ELearning Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Student's booklet</h1>

Student: <span th:text="${student.firstName}"> firstName </span> <span th:text="${student.lastName}"> lastName </span>
  <table border="1">
    <thead>
    <tr>
      <th>Course Name</th>
      <th>Exam Type</th>
      <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grade: ${booklet}">
      <td th:text="${grade.courseName}"> Fondamenti di Ingegneria del Software </td>
      <td th:text="${grade.examType}"> Esame </td>
      <td th:text="*{grade.grade}"> 30 </td>
    </tr>
    </tbody>
  </table>
<form action="courses" method="get">
  <input type="hidden" name="userName" th:value="${student.studentId}"/>
  <input type="hidden" name="password" th:value="${student.password}"/>
  <input type="submit" value="Indietro">
</form>
</body>
