<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1> Create a new notice</h1>

<form action="inputNotice" method="post">
    Title:<input class="boxRisposta" type="text" name="title" onkeyup="redirect()"><br>
    Text:<input class="boxRisposta" type="text" name="text" onkeyup="redirect()"><br>
    Course Name:<input class="boxRisposta" type="text" name="courseName" onkeyup="redirect()"><br>
    <input id="btn" disabled="disabled" type="submit" value="Salva"/>
</form>

<a href="noticeBoard"><button>Annulla</button></a>

<script>
    function required(){

      var checkCondition= new Boolean(true);
      const boxList = document.querySelectorAll(".boxRisposta");

      for(var i=0; i < boxList.length;i++){
        var empt = boxList[i].value;

        if (empt == "") {
          checkCondition = false;
        }

      }
      return checkCondition;
    }

    function redirect(){
      var btn = document.getElementById("btn");
      if(required()==true){
        btn.disabled = false;
      }else{
        btn.disabled = true;
      }
    }
</script>

</body>
</html>