<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1> Create a new notice</h1>

<form action="inputNotice" method="post">
    Title:<input type="text" name="title"><br>
    Text:<input type="text" name="text"><br>
    Course Name:<input type="text" name="courseName"><br>
    <input type="submit" value="Salva"/>
</form>

<a href="noticeBoard"> Annulla </a>
</body>
</html>