<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Notice board</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Course Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice: ${notices}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.text}"></td>
            <td th:text="${notice.courseName}"></td>
        </tr>
        </tbody>
    </table>

<button href="/login"> Indietro </button>
<button href="/createNotice"> Crea</button>

</body>
