<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Notice board</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Text</th>
            <th>Course Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice: ${notices}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.text}"></td>
            <td th:text="${notice.courseName}"></td>
        </tr>
        </tbody>
    </table>
<!---
<form action="courses" method="get">
    <input type="hidden" name="userName" th:value="${student.studentId}"/>
    <input type="hidden" name="password" th:value="${student.password}"/>
    <input type="submit" value="Indietro">
</form>
--->
<form action="retCourses" method="get">
    <input type="submit" value="Indietro">
</form>
<a href="createNotice">  Crea </a><br>

</body>
