<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Notice board</h1>

    <table border="1">
        <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Course Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice: ${notices}">
            <td th:text="${notice.title}"></td>
            <td th:text="${notice.text}"></td>
            <td th:text="${notice.courseName}"></td>
        </tr>
        </tbody>
    </table>

<form action="retCourses" method="get">
    <input type="submit" value="Back">
</form>

<br>
<a href="/createNotice"><button>Create</button></a><br><br>




</body>
