<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>ELearning Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Survey</h1>

<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

<table border="1">
  <thead>
  <tr>
    <th>Poll Title</th>
    <th>Course</th>
    <th>Mandatory</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="poll: ${polls}">
    <td th:text="${poll.pollName}"> </td>
    <td th:text="${poll.getCoursePollName()}"> </td>
    <td th:text="${poll.isMandatory()}"> </td>
    <td><a href="editPoll?pollId=10" th:href="@{editPoll(pollId=${poll.id})}"><button>Edit</button></a></td>
    <td> <a href="deletePoll?pollId=10" th:href="@{deletePoll(pollId=${poll.id})}"><button>Delete</button></a></td>
  </tr>
  </tbody>
</table>

<form action="retCourses" method="get">
  <input type="submit" value="Back">
</form>
</body>