<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ELearning Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Courses</h1>

<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Course Name</th>
    <th>Academic Year</th>
    <th>Show</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course: ${courses}">
    <td th:text="${course.id}"> <b> 10 </b></td>
    <td th:text="${course.courseName}"> Fondamenti di Ingegneria del Software </td>
    <td th:text="${course.academicYear}"> 2021/22 </td>
    <td> <a href="/showCourse?courseId=10" th:href="@{showCourse(courseId=${course.id})}"><button>Show</button></a></td>
  </tr>
  </tbody>
</table>

<a href="/booklet"><button>Libretto</button></a><br>
<a href="/sCalendar"><button>Calendario</button></a><br>
<a href="/noticeBoard"><button>Bacheca</button></a><br>
<a href="/studentVote"><button>Elezioni</button></a><br>
<form action="uploadStudente" method="get">
  <input type="submit" value="File Personali">
</form>
<!--<a href="/uploadFile">File Personali</a><br> --->
<a href="/login"><button>Esci</button></a>

</body>