<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ELearning Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Courses</h1>

<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Course Name</th>
    <th>Academic Year</th>
    <th>Show</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course: ${courses}">
    <td th:text="${course.id}"> <b> 10 </b></td>
    <td th:text="${course.courseName}"> Fondamenti di Ingegneria del Software </td>
    <td th:text="${course.academicYear}"> 2021/22 </td>
    <td> <a href="show?id=10" th:href="@{show(id=${course.id})}"> show </a></td>
  </tr>
  </tbody>
</table>
<form action="booklet" method="get">
  <input type="hidden" th:name="studentId" th:value="${student.studentId}"/>
  <input type="submit" value="Libretto">
</form>
<form action="calendar" method="get">
  <input type="hidden" th:name="studentId" th:value="${student.studentId}"/>
  <input type="submit" value="Calendario">
</form>
<a href="/home">File Personali</a><br>
<a href="/noticeBoard">Bacheca</a><br>
<a href="/login">Esci</a>

</body>