<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1><span th:text="${course.courseName}">Fondamenti di Ingegneria del Software</span></h1>
<a href="/sCourseHomeworks?courseId=10" th:href="@{courseHomeworks(courseId=${course.id})}"><button>Homeworks</button></a>
<a href="/sViewMessage?courseId=10" th:href="@{sViewMessage(courseId=${course.id})}"><button>Messages</button></a>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Course Name</th>
        <th>Academic Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${course.id}"> <b> 10 </b></td>
        <td th:text="${course.courseName}"> Fondamenti di Ingegneria del Software </td>
        <td th:text="${course.academicYear}"> 2021/22 </td>
    </tr>
    </tbody>
</table>
<form action="retCourses" method="get">
    <input type="submit" value="Indietro">
</form>

</body>