<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Homework</h1>

<table border="1">
    <thead>
    <tr>
        <th>Homework Title</th>
        <th>Date</th>
        <th>Description</th>
        <th>Link</th>
        <th>File</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${event.eventTitle}"> </td>
        <td th:text="${event.eventDate}"> </td>
        <td th:text="${event.eventDescription}">  </td>
        <td th:text="${event.link}">  </td>
        <td th:text="test"> </td>
    </tr>
    </tbody>
</table>

<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
<form method="post" th:action="@{/upload}" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="file" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Upload File</button>
</form>

<form action="retCalendar" method="get">
    <input type="submit" value="Indietro">
</form>
</body>