<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ELearning Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1> Student votes</h1>

<form action="newVote" method="post">
<table border="1">
    <thead>
    <tr>
        <th>Lista</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Select</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="candidate: ${candidates}">
        <td th:text="${candidate.list}"></td>
        <td th:text="${candidate.name}"></td>
        <td th:text="${candidate.surname}"></td>
        <td><input type="radio" class="checkRisposta" onclick="handleClick()" th:name="candidateId" th:value="${candidate.id}"/></td>
    </tr>

    </tbody>
</table>
    <input id="btn" disabled="disabled" type="submit" value="Salva" />

</form>

<button onclick="redirect()">Indietro</button>

<script>

      function handleClick(){
        var btn = document.getElementById("btn");
        btn.disabled = false;
      }

      function required(){
      var checkCondition= new Boolean(true);
          const boxList = document.querySelectorAll(".checkRisposta");

          for(var i=0; i < boxList.length;i++){

              if(!boxList[i].checked){
                checkCondition = false;
              }

          }
          return checkCondition;
      }

      function redirect(){
        var btn = document.getElementById("btn");
          if(required()==true){
            alert("Non hai salvato il tuo voto");

          }else{
             window.location.href = "/retCourses";
          }
      }


</script>

</body>
</html>