<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>ELearning Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<h1> Messages of:
<span th:text="${courseName}"></span>
</h1>


<table border="1">
  <thead>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="message: ${messages}">
    <td th:text="${message.title}"></td>
    <td th:text="${message.text}"></td>
  </tr>
  </tbody>
</table>

<a href="retCourse?courseId=10" th:href="@{retCourse(courseId=${courseId})}"><button>Back</button> </a>

<body>

</body>
</html>